        <footer>
            <p class="author">by Nicholas Ristagno on 17 January 2019 </p>
            <p class="get-in-touch">Want To Get In Touch?</p>
        </footer>
    </div>
</body>
<script src="./js/controller.js" type="text/javascript"></script>
</html>