        <footer>
            <p>by 3mpirical / Nicholas Ristagno on 17 January 2019 </p>
        </footer>
    </div>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/error">ERROR</a></li>
        </ul>
    </nav>
</body>
<script src="./js/controller.js" type="text/javascript"></script>
</html>