        <footer>
            <p class="author">by Nicholas Ristagno on 17 January 2019 </p>
            <p class="get-in-touch">Want To Get In Touch?</p>
        </footer>
    </div>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/error">ERROR</a></li>
            <li><a href="https://github.com/3mpirical/about-me" target="_blank" >CODE</a></li>
        </ul>
    </nav>
</body>
<script src="./js/controller.js" type="text/javascript"></script>
</html>