<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Space+Mono" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <title>About Me</title>
</head>
<body>
    <div class="page-container">
        <header>
            <h2 class="header__name">NICK RISTAGNO</h2>  
            <div class="underline">< &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp></div>  
        </header>
        <div class="header__clearfix"></div>

        <div class="self">
            <div class="self__photo-container">
                {{!-- !!!!! MAKE SURE TO REDUCE THE IMAGE QUALITY OF THIS FOR FAST PAGE LOADS !!!!! --}}
                <img src="../img/self.jpg" alt="picture of nick" class="self__photo">
            </div>
        </div>
        