<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Space+Mono" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <title>About Me</title>
</head>
<body>
    <div class="page-container">
        <header>
            <h2 class="header__name">NICK RISTAGNO</h2>  
            <div class="underline">< &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp></div>  
        </header>
        
        <nav>
            <ul>
                <li><a href="/">ABOUT</a></li>
                <li><a href="/skills">SKILL</a></li>
                <li><a href="/projects">WORK</a></li>
                <li><a href="https://github.com/3mpirical/about-me" target="_blank" >CODE</a></li>
            </ul>
        </nav>

        