<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Space+Mono" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <title>About Me</title>
</head>
<body>
    <div class="page-container">
        <header>
            <h2 class="header__name">NICK RISTAGNO</h2>  
            <div class="underline">< &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp></div>  
        </header>
        
        <nav>
            <ul class="page-nav">
                <li><a href="/"><img src="./img/id-proof-line.svg" alt=""><p>ABOUT</p></a></li>
                <li><a href="/projects"><img src="./img/envelope.svg" alt=""><p>EMAIL</p></a></li>
                <li><a href="/work"><img src="./img/code.svg" alt=""><p>WORK</p></a></li>
            </ul>

            <ul class="social-list">
                <li><a href="https://github.com/3mpirical/about-me" target="_blank" ><img src="./img/github.svg" alt=""><p>CODE</p></a></li>
                <li><a href="https://www.facebook.com/nicholas.ristagno" target="_blank" ><img src="./img/facebook.svg" alt=""><p>SOC-</p></a></li>
            </ul>
        </nav>

        