
{{> _header}}
    <main class="index">
        <div class="self">
            <div class="self__photo-container">
                <img src="../img/self-2.jpg" alt="picture of nick" class="self__photo">
            </div>
            <h1 class="heading heading--about-me">
                <span class="heading__tag">{</span>ABOUT ME<span class="heading__tag">}</span></h1>
                <div class="question">
                    <p class="question__response">I've lived in Browns Mills, NJ my whole life, but I moved to Utah for the universities about two years ago. Before studying at Devpoint Labs, I worked as a Pharmacy Technician in the operating room at Primary Children's Hospital.</p>
                    <h3 class="subheading question--utah-move">~ Why did you move?</h3>
                </div>
        </div>

        <div class="map-container">
            {{!-- <img src="./img/map.svg" alt="map of salt lake city"> --}}
            <iframe height="800px" width="1200px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-111.90519332885744%2C40.73125888744284%2C-111.81249618530275%2C40.78924984920969&amp;layer=mapnik&amp;marker=40.760260692426186%2C-111.85884475708008"></iframe>

            {{!-- <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-111.90519332885744%2C40.73125888744284%2C-111.81249618530275%2C40.78924984920969&amp;layer=mapnik&amp;marker=40.760260692426186%2C-111.85884475708008" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=40.7603&amp;mlon=-111.8588#map=14/40.7603/-111.8588">View Larger Map</a></small> --}}
            {{!-- <div class="map__i-live-here"></div> --}}
        </div>
        <p class="map__contributors">© <a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a> contributors</p>


        <div class="code">

            {{!-- <hr class="code__guide--one">
            <hr class="code__guide--two"> --}}

            <h2 class="code__details"><span class="u-high">// Details About Me</span></h2>

            {{!-- aboutMe Object --}}
            <p><br><span class="cyan u-high">const</span> <span class="white u-high" >aboutMe</span> <span class="red u-high">=</span> <span class="white u-high">{</span></p>

            <p>&nbsp&nbsp&nbsp&nbsp<span class="white u-high">name:</span> <span class="yellow u-high">"nicholas ristgno"</span><span class="white u-high">,</span></p>

            <p>&nbsp&nbsp&nbsp&nbsp<span class="white u-high">age:</span> <span class="purple u-high">25</span><span class="white u-high">,</span></p>

            <p>&nbsp&nbsp&nbsp&nbsp<span class="white u-high">likes:</span> <span class="white u-high">[</span></p>

            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="yellow u-high">"programming"</span><span class="white u-high">,</span></p>

            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="yellow u-high">"books"</span><span class="white u-high">,</span></p>        

            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="yellow u-high">"hiking"</span><span class="white u-high">,</span></p>

            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="yellow u-high">"politics"</span><span class="white u-high">,</span></p>

            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="yellow u-high">"warm weather"</span></p>

            <p>&nbsp&nbsp&nbsp&nbsp<span class="white u-high">]</span><span class="white u-high">,</span></p>

            <p>&nbsp&nbsp&nbsp&nbsp<span class="white u-high">previousHome:</span> <span class="yellow u-high">"Browns Mills, NJ"</span><span class="white-u-high">,</span></p>

            <p>&nbsp&nbsp&nbsp&nbsp<span class="white u-high">currentLocation:</span> <span class="yellow u-high">"Salt Lake City, UT"</span><span class="white u-high">,</span></p>

            <p>&nbsp&nbsp&nbsp&nbsp<span class="white u-high">previousJob:</span> <span class="yellow u-high">"Operating Room Pharmacy Tech"</span><span class="white u-high">,</span></p>

            <p>&nbsp&nbsp&nbsp&nbsp<span class="white u-high">isLookingForNewjob:</span> <span class="purple u-high">true</span></p>

            <p><span class="white u-high">}</span><span class="white u-high">;</span></p>

            {{!-- New Developer Call --}}
            
            <p><br><span class="cyan u-high">const</span> <span class="white u-high">nickRistagno</span> <span class="red u-high">=</span> <span class="red u-high">new</span> <span class="white u-high">Developer(aboutMe)</span><span class="white u-high">;</span></p>

            {{!-- Firm.hire() Section --}}

            <p><br><span class="white u-high">Firm.</span><span class="green u-high">hire</span><span class="white u-high">(nickRistagno)</span></p>

            <p><span class="white u-high">.</span><span class="cyan u-high">then</span><span class="white u-high">((</span><span class="orange u-high">satisfaction</span><span class="white u-high">)</span> <span class="cyan u-high">=></span> <span class="cyan u-high">console</span><span class="white u-high">.</span><span class="cyan u-high">log</span><span class="white u-high">(</span><span class="yellow u-high">`Success: ${satisfaction}`</span><span class="white u-high">))</span></p>

            <p><span class="white u-high">.</span><span class="cyan u-high">catch</span><span class="white u-high">((</span><span class="orange u-high">err</span><span class="white u-high">)</span> <span class="cyan u-high">=></span> <span class="cyan u-high">console</span><span class="white u-high">.</span><span class="cyan u-high">log</span><span class="white u-high">(</span><span class="yellow u-high">`Something Went Wrong: ${err}`</span><span class="white u-high">));</span></p>
        </div>
        
    </main>
{{> _footer}}