
{{> _header}}
    <main class="contact">
        <img class="sky-background" src="../img/sky.jpg" alt="night sky background">

        <div class="self">
            {{!-- <h1 class="heading heading--about-me">
                <span class="heading__tag">{</span>CONTACT<span class="heading__tag">}</span></h1> --}}
        </div>

    </main>

{{> _footer}}