.u-high:hover {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold; }

.white {
  color: #CFD8DC; }

.green {
  color: #76FF03; }

.cyan {
  color: #00ffff; }

.orange {
  color: #FD971F; }

.yellow {
  color: #E6DB74; }

.red {
  color: #F92672; }

.purple {
  color: #AE81FF; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Source Code Pro", sans-serif;
  background-color: #0d1114;
  color: #CFD8DC; }

.heading {
  font-family: "Space Mono";
  font-weight: 200;
  letter-spacing: 2px;
  color: #00ffff; }
  .heading:hover {
    background-color: rgba(255, 255, 255, 0.1); }
  .heading__tag {
    font-family: "Open Source Pro";
    position: relative;
    color: #FD971F; }

.subheading {
  font-family: "Space Mono";
  color: #E6DB74; }
  .subheading:hover {
    background-color: rgba(255, 255, 255, 0.1); }

.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; }
  .page-container header {
    height: 6rem; }
  .page-container main {
    flex: 1 0 auto; }
  .page-container footer {
    position: relative;
    height: 3rem; }

header {
  position: relative;
  width: calc(100% - 6rem);
  font-weight: 400;
  background-color: #161c20;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(100% - 6rem) 100%, 6rem 6rem, 0 0);
  clip-path: polygon(0% 0%, 100% 0%, calc(100% - 6rem) 100%, 6rem 6rem, 0 0);
  border-bottom: 0.5px solid rgba(0, 255, 255, 0.5);
  z-index: 10; }
  header::before {
    background-image: url("../img/motherboard.svg");
    background-position-y: 50%;
    background-repeat: none;
    opacity: 0.08;
    display: block;
    position: absolute;
    width: 100%;
    height: 100rem;
    content: ""; }
  header .header__name {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 2.5rem;
    right: -1rem;
    font-size: 2rem;
    font-family: "Space Mono";
    font-weight: 200;
    letter-spacing: 2px;
    color: #00ffff;
    transition: 0.4s;
    z-index: 10;
    cursor: pointer; }
    header .header__name:hover {
      color: #E6DB74;
      transform: scale(0.8, 0.8) translate(-60%, -60%); }
      header .header__name:hover + div {
        transform: scale(1.5, 1.5) translate(-35%, -35%);
        opacity: 0; }
  header .underline {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    right: -6.6rem;
    top: 2.5rem;
    color: #FD971F;
    transition: 0.3s; }

footer {
  position: relative;
  background-color: #161c20;
  z-index: 20;
  border-top: 1px solid rgba(0, 255, 255, 0.5);
  clip-path: polygon(0 100%, 6rem 0, calc(100% - 12rem) 0, calc(100% - 9rem) 100%); }
  footer::before {
    background-image: url("../img/motherboard.svg");
    background-position-y: 75%;
    background-repeat: none;
    opacity: 0.08;
    display: block;
    position: absolute;
    width: 100%;
    height: 100rem;
    content: ""; }
  footer .author {
    position: absolute;
    right: 12rem;
    bottom: 25%;
    width: 26rem;
    font-size: 1.1rem;
    color: #CFD8DC; }
    footer .author:hover {
      background-color: rgba(255, 255, 255, 0.1); }
  footer .get-in-touch {
    position: absolute;
    left: 6rem;
    bottom: 25%;
    font-size: 1.2rem;
    color: #00ffff;
    cursor: pointer;
    text-decoration: underline; }
    footer .get-in-touch:hover {
      background-color: rgba(255, 255, 255, 0.1); }

nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 6rem;
  border-right: 0.5px solid rgba(0, 255, 255, 0.5);
  background: #161c20;
  -webkit-clip-path: polygon(100% 6rem, 100% calc(100% - 3rem), 0 100%, 0 0);
  clip-path: polygon(100% 6rem, 100% calc(100% - 3rem), 0 100%, 0 0);
  z-index: 10; }
  nav ul {
    list-style-type: none; }
    nav ul:first-child {
      margin-top: 12rem; }
    nav ul a:link,
    nav ul a:visited {
      display: inline-block;
      text-decoration: none;
      color: inherit;
      width: 100%;
      height: 4rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1.5rem;
      text-align: center;
      font-family: "Space Mono"; }
    nav ul a:hover {
      border-left: 3px solid #00ffff;
      color: #E6DB74;
      transform: scale(0.9, 0.9); }

.self {
  position: relative;
  top: 0;
  right: 0;
  height: 30vh;
  width: 100%;
  z-index: 5; }
  .self::before {
    display: block;
    position: absolute;
    top: -6rem;
    content: "";
    height: calc(100% + 6rem);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 0.5px solid rgba(0, 255, 255, 0.5); }
  .self__photo-container {
    position: absolute;
    bottom: 3vh;
    left: 3vh;
    height: 24vh;
    width: 24vh;
    overflow: hidden;
    border-radius: 3px; }
  .self__photo {
    height: 20rem;
    width: 28rem; }
  .self .heading--about-me {
    position: absolute;
    top: 2.5vh;
    left: 29vh;
    font-size: 2.3vh; }
  .self .heading__tag {
    font-size: 3.5vh; }
  .self .question {
    position: absolute;
    top: 9vh;
    left: 29vh;
    width: 38vh;
    height: 18vh;
    border-top: 1px solid rgba(0, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.6);
    padding-left: 1vh;
    padding-top: 0.5vh; }
    .self .question__response {
      font-size: 1.7vh;
      font-family: "Space Mono";
      line-height: 2.4vh; }
      .self .question__response:hover + .question--utah-move {
        background-color: rgba(255, 255, 255, 0.1); }
    .self .question--utah-move {
      display: none;
      position: absolute;
      top: 0;
      font-size: 1.3rem; }

.index {
  position: relative;
  left: 6rem;
  width: calc(100% - 6rem); }

.map-container {
  position: absolute;
  top: -6rem;
  right: 0;
  height: 100rem;
  width: 65vw;
  clip-path: polygon(15rem 0, 100% 0, 100% 100%, 35rem 100%); }
  .map-container img {
    position: absolute;
    right: -55rem;
    height: 100rem;
    background-position: right; }
  .map-container .map__contributors {
    position: absolute;
    width: 18rem;
    height: 1.5rem;
    bottom: 3.5rem;
    right: 12rem;
    background-color: #263238;
    border-radius: 20px;
    text-align: center; }
    .map-container .map__contributors a:link,
    .map-container .map__contributors a:visited {
      color: #00ffff; }
  .map-container .map__i-live-here {
    position: absolute;
    top: 40rem;
    right: 8rem;
    width: 10rem;
    height: 10rem;
    border: 8px solid #00ffff;
    border-radius: 100px;
    transition: 0.25s; }
    .map-container .map__i-live-here::before {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      display: block;
      content: "";
      width: 97%;
      height: 97%;
      border: 2px solid #78909C;
      border-radius: 100px; }
    .map-container .map__i-live-here::after {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      display: block;
      content: "";
      width: 85%;
      height: 85%;
      border: 4px solid #00ffff;
      border-color: inherit;
      border-radius: 100px; }
    .map-container .map__i-live-here:hover {
      transform: scale(0.7, 0.7);
      border-color: #FD971F; }

.code {
  position: absolute;
  left: 2vh;
  bottom: 2vh;
  font-size: 1.65vh;
  letter-spacing: -1px;
  line-height: 2.2vh; }
  .code__details {
    font-size: inherit;
    color: #546973;
    font-family: "Source Code Pro"; }
  .code__guide--one {
    position: absolute;
    top: 21rem;
    left: -14.5rem;
    transform: rotate(90deg);
    width: 29rem;
    border: 0.5px solid #546973; }
  .code__guide--two {
    position: absolute;
    top: 18.7rem;
    left: -1.8rem;
    transform: rotate(90deg);
    width: 11.5rem;
    border: 0.5px solid #546973; }
