

.self {
    position: relative;
    top: 0;
    right: 0;
    height: 25vh;
    width: 100%;
    z-index: 5;

    &::before {
        //background color
        display: block;
        position: absolute;
        top: -6rem;
        content: "";
        height: calc(100% + 6rem);
        width: 100%;
        // z-index: ;
        background-color: rgba(0,0,0,0.2);
        border-bottom: 0.5px solid rgba($color-cyan, 0.5);
    }

    &__photo-container {
        position: absolute;
        bottom: 2vh;
        left: 2vh;
        height: 21vh;
        width: 24vh;
        overflow: hidden;
        border-radius: 3px;
    }

    &__photo {
        height: 20rem;
        width: 28rem;
        background-position: top;
        position: absolute;
        top: 0;
    }

    .heading {
        &--about-me {
            position: absolute;
            top: 1.5vh;
            left: 28vh;
            font-size: 2.3vh;
        }

        &__tag {
            font-size: 3.5vh;
        }
    }

    .question {
        position: absolute;
        top: 6vh;
        left: 28vh;
        width: 37vh;
        height: 17vh;
        border-top: 1px solid rgba($color-cyan, 0.5);
        border-bottom: 1px solid rgba($color-cyan, 0.5);
        background-color: rgba(0,0,0,0.6);
        padding-left: 0.5vh;
        padding-right: 0.5vh;
        padding-top: 0.25vh;
        
        &__response {
            // position: absolute;
            font-size: 1.7vh;
            // font-family: "Roboto Condensed";
            line-height: 2.4vh;
            text-align: left;

            &:hover + .question--utah-move {
                background-color: rgba(255,255,255, 0.1);
            }
        }

        &--utah-move {
            display: none;
            position: absolute;
            top: 0;
            font-size: 1.3rem;
        }
    }
}
