footer{
    position: relative;
    background-color: darken($color-background, 8%);
    z-index: 20;
    border-top: 1px solid rgba($color-cyan, 0.5);

    clip-path: polygon(0 100%, 6rem 0, calc(100% - 12rem) 0, calc(100% - 9rem) 100%);

    &::before {
        background-image:  
            url("../img/motherboard.svg");
        background-position-y: 75%;
        background-repeat: none;
        opacity: 0.08;
        display: block;
        position: absolute;
        width: 100%;
        height: 100rem;
        content: "";
    }

    .author {
        position: absolute;
        right: 12rem;
        bottom: 25%;
        width: 26rem;
        font-size: 1.1rem;
        color: $color-off-white;

        @include syntax-highlight;
    }

    .get-in-touch {
        position: absolute;
        left: 7rem;
        bottom: 25%;
        font-size: 1.2rem;
        color: $color-cyan;
        cursor: pointer;
        text-decoration: underline;

        @include syntax-highlight;

        &__icon {
            position: relative;
            margin-right: 1rem;
            top: 0.8rem;
            height: 3rem;

        }
    }
}