
header {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 6rem);
    font-weight: 400;
    background-color: darken($color-background, 10%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(100% - 6rem) 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 6rem) 100%, 0% 100%);
    overflow: hidden;
    border-bottom: 0.5px solid rgba($color-cyan, 0.5);


    &::before {
        background-image:  
            url("../img/motherboard.svg");
        background-position-y: 50%;
        background-repeat: none;
        opacity: 0.04;
        display: block;
        position: absolute;
        width: 100%;
        height: 100rem;
        content: "";

    }

    .header__name {
        @include pos-absolute-translated;
        top: 2.5rem;
        right: -1rem;
        font-size: 2rem;
        font-family: "Space Mono";
        font-weight: 200;
        letter-spacing: 2px;
        color: $color-electric-green;
        opacity: 1;
        transition: 0.4s;
        z-index: 10;
        cursor: pointer;

        &:hover {
            color: $color-cyan;
            transform: scale(0.8, 0.8) translate(-60%, -60%);

            + div {
                transform: scale(1.5, 1.5) translate(-35%, -35%);
                opacity: 0;
            }
        }    
    }

    .underline {
        @include pos-absolute-translated;
        font-size: 4.5rem;
        right: -6.6rem;
        top: 2.5rem;
        color: $color-electric-green;
        transition: 0.3s;
    
    }
}

.header__clearfix {
    display: block;
    content: "";
    width: 100%;
    height: 28rem;
}
